.appContainer{
    display: flex;
}
.content{
    background-color: #DDDDDD;
    width:calc(100% - 300px);
    min-height: calc(100vh - 300px);
    position: relative;
    left:300px;
}
.contentHeader{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(20, 109, 153, 0.7);
    background-image: url('./images/centisoft_background.jpg');
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    box-shadow:1px 1px 10px #555555;
}
.contentHeader h1{
    color:white;
    font-size:50px;
    text-shadow: black 1px 1px 10px;
}
.myNav{
    height: 150vh;
    z-index: 1;
    position: fixed;
    width:300px;
    min-width:300px;
    background-color: rgb(0, 37, 54);
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    align-content: 'flex-start';
    transition:left .3s;
}
.myNav ul {
    list-style-type: none;
    position: absolute;
    left:0px;
    width:100%;
    padding:0px;
}
.menuEntry{
    color:#AAAAAA;
    font-size: 16px;
    font-weight: bold;
    padding:10px 30px;
    transition:.3s;
}
.menuEntry:hover{
    cursor:default;
    opacity:0.8;
    background-color:rgba(13, 152, 221,0.3);
}
.logo{
    font-size:30px;
    color: rgb(13, 152, 221);
    font-weight: bold;
}
.myNavLogo{
    display: flex;
    flex:1;
    align-items: center;
    background-color: rgb(1, 30, 44);
    justify-content: center;
    border-bottom: rgb(5, 60, 87) 1px solid;
}
.myNavEntries{
    display: flex;
    flex:10;
    position: relative;
    background-color: rgb(2, 45, 66);
}
.card{
  min-height:500px;
  margin:10px;
  background-color:#EFEFEF;
  border-radius:10px;
  box-shadow:2px 1px 10px #999999;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:.3s;
}
.card:hover{
  box-shadow:2px 1px 2px #999999;
  cursor:pointer;
}
.card > div{
  text-align:center;
}
.card > div > i{
  font-size: 35px;
}
.card > div >h1{
  margin-top:10px;
}
.cardWrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:30px;
}
.cardWrap span{
  color:rgb(13, 152, 221);
}
@media only screen and (max-width: 800px) {
    .contentHeader h1{
        font-size:30px;
    }
    .cardWrap{
      grid-template-columns:repeat(1,1fr);
    }
    .myNav{
      left:-400px;
    }
    .content{
      left:0px;
      width:100%;
    }
  }
